.button-menu{
    font-size:16px;
    line-height:27px;
    color:#555f62;
    height:260px;
    width:56px;
    position:fixed;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    right:2%;
    bottom:4%;
    position:fixed;
  }
  
  .hover-button{
    background: #424A4D;
    color: #fff;
    height: 56px;
    width: 56px;
    padding: 16px;
    cursor: pointer;
    transition: transform 0.25s ease;
    border-radius: 50%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    transform-origin: bottom; 
    transform: scaleY(1);
    flex-direction:row;
    display:flex;
  }
  .h-button-toggle{
       background:#fff;
       opacity: 0;
       visibility:hidden;
       transition: all 0.8s ease;
  }
  
  .h-button-toggle.active {
      background-color:#fff;
      color:#141719;
      opacity: 1; 
      visibility: visible;
      border: 1px solid  #EEF1F1;
   }
  .h-button-toggle.active:hover{
    background-color:#3295CE;
    color:#fff;
  }
  
  .tooltip{
      color: #fff;
      white-space: nowrap;
      background-color: #424a4d;
      border-radius: 6px;
      padding: 8px 12px;
      font-size: 14px;
      transition: opacity 1s ease;
      position:absolute;
      left: -140px;
      z-index: 15;
      visibility:hidden;
      opacity: 0;
  }
  .h-button-toggle.active:hover .tooltip{
    visibility: visible;
    opacity:1;
  }
  .toggle-button svg{
    position:absolute;
  }
  
  .dot-svg.active{
      transition: background-color 0.25s ease;
      opacity: 1; /* Initially hidden */
      visibility: visible;
      color:#fff;
  }
  .dot-svg {
       width: 25px;
       height: 25px;
       border-radius: 50%;
       display: inline-block;
       transition: background-color 35s ease;
       opacity: 1;
       margin:auto;
       visibility: visible; 
  }
  
  .dot-svg.active {
       opacity: 0; 
       visibility:hidden; 
  }
  
  
  .x-svg{     
       width: 25px;
       height: 25px;
       border-radius: 50%;
       display: inline-block;
       transition: background-color 35s ease;
       opacity: 0;
       margin:auto;
       visibility: hidden; 
  }
  .x-svg.active2{
       opacity: 1; 
       visibility: visible; 
  }