
.nav-panel {
    display:flex; /* Center the navigation horizontally */
    position: relative; /* Required for dropdown positioning */
    align-items: center;
    height: 79px;
    width:481px;
    margin: 0 40px 0 40px;
}

.nav-button {
    cursor: pointer;
    position: relative;
    text-align: left;
    vertical-align: top;
    white-space: nowrap;
    color: #222;
    height: 79px;
    width: 159px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    font-weight: 550;
    line-height: 19px;
    
}

.dropdown-container {
    position: absolute;
    top:79px;
    left:0;
    width: 100%; 
    height: 241.484px;
    z-index: 2; 
    display: none;
    box-sizing: border-box;

}

.dropdown {
    display: none;
    padding: 0; /* Reset padding for dropdown */
    box-sizing: border-box;
    position: absolute;

 
}

.dropdown.active {
    position: absolute;
    height: 230px;
    width: 200px;
    padding: 32px 0 32px 0;
    min-width: 200px;
    display:flex;
    flex-direction: column;
    font-weight: 500;
    line-height: 23.8px;
    color: black;
    font-size: 16px;
    padding-top: 0px;
}

.hover-item {
    padding: 10px;
    cursor: pointer;
}

.hover-item:hover {
    color:#3295CE ;
}
.full-width-dropdown {
    position: absolute;
    top:79px; /* Position directly below the nav-panel */
    display: none;  
    width:1920px;
    height: 241.484px;
    padding: 32px 0 32px 0;
    min-height: 191px;
    left:-640px;
    background-color: #fff;
}

.tbc-barati{
    display:inline-block;
    position: relative;
    left:400px;
}
.tbc-barati>div{
    position:relative;
    top: 10px;
}
.tbc-barati div>span{
    position: relative;
    top: -5px;
}